/* styles.css */

#initialPoseswitch:checked + .switch_label {
  background: #c44;
  border: 2px solid #c44;
}

#initialPoseswitch:checked + .switch_label:hover {
  background: #e55;
}

/* move */
#initialPoseswitch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}

.switch_label:hover {
  background: #efefef;
}

/* checking style */
#goalPoseswitch:checked + .switch_label {
  background: blue;
  border: 2px solid blue;
}

#goalPoseswitch:checked + .switch_label:hover {
  background: blue;
}

/* move */
#goalPoseswitch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
